#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Pabst tousled poutine cred brooklyn hoodie. Bespoke cronut umami, pop-up cliche waistcoat pour-over cold-pressed literally jean shorts blue bottle try-hard cardigan messenger bag tacos. Flannel biodiesel actually organic occupy kombucha. Taxidermy irony everyday carry farm-to-table, biodiesel pabst mustache truffaut pork belly. Mustache intelligentsia cornhole microdosing, man braid meditation chia put a bird on it gastropub seitan four dollar toast XOXO

#bottom_cta
  .wrapper
    %h2 Go Ahead
    %br
    %button= link_to "Join Now", new_user_registration_path
